html {
    background-color: black;
    font-size: 10px;
    font-family: Verdana;
    text-align: center
}

h1 {

    font-size: 5rem;
    color: white;
}

a {
    color: aquamarine;
    font-size: 1.6rem
;
}